@model IEnumerable<Portfolio.Models.Repository>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="f-row responsive">
        <div class="f-col-1">
            <h2 class="form-header-dark">Most Starred Repositories</h2>
        </div>
    </div>
    <div class="f-row responsive">
        @foreach (var pr in Model)
        {
            <div class="f-col-1 flex-center-h">
                <h2>@pr.name</h2>
                <h4>Written in @pr.language</h4>
                <h4>Clone it <a class="text-pop" href="@pr.html_url">here</a></h4>
                <p>@pr.description</p>

                @if (pr.homepage != "")
                {
                    <p>Deployed site: <a class="text-pop" href="@pr.homepage">@pr.homepage</a></p>

                }
                <hr />
            </div>


        }

    </div>
</div>

